[Unit]
Description=Automated System update and upgrade
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/system_update.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

# Security hardening
privateTmp=yes
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=yes

# Timeout settings
TimeoutStartSec=0
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
