[Unit]
Description=Run Automatic System Updates daily
Requires=system_update.service

[Timer]
OnCalendar=*:*:0/10 #Checks for updates every after 10 minutes 
Persistent=true  
Unit=system_update.service

[Install]
WantedBy=timers.target
